<div class="card">
    <div class="card-content">
        <h3 class="card-title"><i class="material-icons">images</i>Upload images</h3>
        <hr>
        <form action="/image" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn purple darken-4">
                    <span>File</span>
                    <input type="file" name="image" id="forInput">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="input-field">
                <input id="first_name2" type="text" class="validate" name="title">
                <label class="active" for="first_name2">Title of the image</label>
            </div>
            <div class="input-field">
                <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
                <label for="textarea1">Description</label>
            </div>
            <button type="input" class="btn purple darken-4"><i class="small material-icons">cloud_upload</i> Upload</button>
        </form>
    </div>
</div>